div {
  display: block; }

button {
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

input {
  font-size: 20px;
  padding: 10px 20px; }

.tic-tac-toe {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .tic-tac-toe .controls button.new-game {
    background: #ff5374;
    color: #fff;
    padding: 10px 20px; }
  .tic-tac-toe .game .board .square {
    width: 100px;
    height: 100px;
    border: solid 2px #5326ff;
    display: inline-block;
    float: left; }
    .tic-tac-toe .game .board .square.selected {
      border: solid 2px #ff5374 !important; }
    .tic-tac-toe .game .board .square[data-status="0"] {
      background: #ff8e65; }
    .tic-tac-toe .game .board .square[data-status="1"] {
      background: #7ebaff; }
  .tic-tac-toe .game .round-result {
    min-height: 30px; }
    .tic-tac-toe .game .round-result .result {
      display: inline-block;
      background: #fffa43; }
