$borderColor: #5326ff;

div{
    display: block;
}

button{
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input{
    font-size: 20px;
    padding: 10px 20px;
}

.tic-tac-toe{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    .header{}

    .controls{
        button.new-game{
            background: #ff5374;
            color: #fff;
            padding: 10px 20px;
        }
    }

    .game{

        .board{

            .square{
                width: 100px;
                height: 100px;
                border: solid 2px $borderColor;
                display: inline-block;
                float: left;

                &.selected{
                    border: solid 2px #ff5374!important;
                }

                &[data-status="0"]{
                    background: #ff8e65;
                }

                &[data-status="1"]{
                    background: #7ebaff;
                }
            }
        }

        .round-result{
            min-height: 30px;

            .result{
                display: inline-block;
                background: #fffa43;
            }
        }
    }
}